/*
red: #D93537
white: #fefff7
green: #00585F
grey: #6A6A61
black: #272928
*/

html {
    background-image: url('img/canvas_bg.jpg') ;
    height: 100%;
}

body{
    
    color:#272928;
    padding:0;
    margin:0;
    font-family: Helvetica, Sans-Serif;
    height: 100%;
}

#bg {
    background: rgba(255,253,209, .92);
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -140px; /* the bottom margin is the negative value of the footer's height */
}

header{
    background: linear-gradient(rgba(217,53,55,1), rgba(165,41,41,1));
    border-bottom: 3px solid #fefff7;
    box-shadow: 0 5px 0 #00585F;
    margin:0;
    width:100%;
}

header h1 {
    font-family: Lobster;
    padding: 15px;
    margin: 0;
    color: #fefff7;
    font-size: 42px;
    text-shadow: -2px -2px 5px rgba(0,0,0,.2), 2px 2px 5px rgba(255,255,255,.2);
}

header h1 a {
    color: #fefff7;
}

header:after{
    content:"";
    display:table;
    clear:both;
}
header a{
    text-decoration:none;
}
header aside{
    float:right;
    text-align:right;
    padding-right:0.75em;
}
header ul{
    list-style:none;
    list-style-type:none;
    display:inline-block;
}
header ul li{
    margin:0 0.25em 0 0;
    float: left;
}
header ul li a{
    color: #fefff7;
    padding:0;
    display:inline-block;
}

nav {
    
}

#site-nav li {
    border: 1px 1px solid back;
    border-radius: 4px;
}

#wrapper {
    background: rgba(255,253,209, .45);
    height: 100%;
}

#content {
    padding: 25px;
    background: rgba();
    height: auto;
}

main{
    margin: 6px auto;
    padding:0 0.75em 1em;
    width: 960px;
}
main:after{
    content:"";
    display:table;
    clear:both;
}
main article{
    margin-bottom:1em;
    padding-left:0.5em;
}
main article h3{
    margin-top:0;
}
main article .entry_body{
    margin:0.5em;
}
main aside{
    float:right;
}
main aside .field{
    margin-bottom:1em;
}
main aside .field input,
main aside .field label,
main aside .field textarea{
    vertical-align:top;
}
main aside .field label{
    display:inline-block;
    width:15%;
    padding-top:2px;
}
main aside .field input,
main aside .field textarea{
    width:83%;
}
main aside .control_row input{
    margin-left:16%;
}

.dateline {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background: #00585F;
    text-align: center;
}

.date {
    
}

.month, .day {
    color: #fefff7;
    font-size: 24px;
    font-weight: bold;
}

.dateline p {
    margin: 0;
    padding: 0;
}

footer, .push {
	height: 140px; /* '.push' must be the same height as 'footer' */
}

footer{
    display: inline-block;
    width:100%;
    background: #6A6A61;
    border-top: 5px solid #272928;
    box-shadow: 0 -5px 0 #D93538;
}