<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Python Learning Journal</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="{{ url_for('static', filename='pygments.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='fonts/ubuntumono-r.css') }}" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/twitter_btn.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
<div id="bg">
    <header>
        <nav class="nav navbar">
            <h1><a href="/">My Python Journal</a></h1>
            <aside id="user-controls">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <ul>
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}">log in</a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}">log out</a></li>
                    {% endif %}
                </ul>
            </aside>
        </nav>
    </header>
    <main id="wrapper">
        <section id="content">
            {% block body %}{% endblock %}
        </section>
    </main>
    <div class="push"></div>
    <footer>
        <p>Created in the Code Fellows Python Dev Accelerator</p>
    </footer>
</div>
{% block modal %}
{% endblock %}
<script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(document).ready(function() { 
      
    });
    $(".edit-post-btn").on("click", function() {
        var id = $(this).data("id");
        var url = $SCRIPT_ROOT + "/edit/" + id;
        $("#post-form").attr("action", "/edit/" + id);
        $.ajax({
            url : url,
            success: function(response) {
                $("#title").val(response.title);
                $("#text").val(response.text);
            }
        });
    });
    $("#post-form").on("submit", function(event){
        event.preventDefault();
        $('#post-modal').modal('hide');
        var url = $("#post-form").attr("action");
        $.ajax({
            url : url,
            type : 'POST',
            data : $("#post-form").serialize(),
            success: function(response) {
                $(".posts").html(response).fadeIn();
            }
        });
    });
    $("#new-post-btn").on("click", function() {
        $("#post-form").attr("action", "{{url_for('add_entry')}}");
    });
</script>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
</body>
