<!DOCTYPE html>
<html lang="en">
<head>

<script>
function loadXMLDoc()
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","base.html?t=" + Math.random(),true);
xmlhttp.send();
xmlhttp.open("POST","base.html.asp",true);
xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
xmlhttp.send();
}
</script>

<meta charset="utf-8">
<title>Python Learning Journal</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="{{ url_for('static', filename='pygments.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
</head>
<body>
<header>
    <aside id="user-controls">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <ul>
            {% if not session.logged_in %}
                <li><a href="{{ url_for('login') }}">log in</a></li>
            {% else %}
                <li><a href="{{ url_for('logout') }}">log out</a></li>
            {% endif %}
        </ul>
    </aside>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>My Python Journal</h1>
    <section id="content">
        {% block body %}{% endblock %}
    </section>
</main>
<footer>
    <p>Created in the Code Fellows Python Dev Accelerator</p>
</footer>
</body>
