{% extends "base.html" %}
{% block body %}
{% if session.logged_in %}
<aside>
    <form action="{{ url_for('add_entry') }} "method="POST" class="add_entry">
        <div class="field">
            <label for="title">Title</label>
            <input type="test" size="30" name="title" id="title"/>
        </div><!-- /field -->
        <div class="field">
            <label for="text">Text</label>
            <textarea name="text" id="text" rows="5" cols="80" value="hi"></textarea>
        </div><!-- /field -->
        <div class="control_row">
            <input type="submit" value="Share" name="Share"/>
        </div><!-- /control-row -->
    </form>
</aside>
{% endif %}
    {% for entry in entries %}
        <article class="entry" id="entry={{entry.id}}">
            <h3>{{ entry.title }}</h3>
            <div class="dateline">
                <div class="date">
                    <p class="month">{{ entry.created.strftime('%b') }}</p>
                    <p class="day">{{ entry.created.strftime('%d') }}</p>
                </div>
            </div>
            <div class="entry_body">
                {{ entry.text|safe }}
            </div>
            {% if session.logged_in %}
                <ul class="edit-links">
                    <li><a href="edit/{{ entry.id }}">Edit</a></li>
                </ul>
            {% endif %}
        </article>
    {% else %}
        <div class="entry">
            <p><em>No entries here so far</em></p>
        </div>
  {% endfor %}
{% endblock %}